<div class="card post-details">

  
    <header class="card-header">
       <a href="/post/{{id}}"><h3 class="post-title">{{title}}</h3></a>
     

    </header>
 

    <div class="card-body">
      <div>
            {{post_content}}
        </div>
        <div class="card-signature">
                
                <br> By: {{user.username}} on {{format_date post_date}} <br><br> 
                <b><a href="/post/{{id}}">Comments: {{comments.length}} </a></b>
            </div>
    </div>
      
</div>



   
            
