<div class="card post-details">
  <div class="row mb-4 justify-center">
    <div class="col-md-5">
      <header class="card-title">
        <a href="/post/{{id}}">
          <h3 class="post-title">{{title}}</h3>
        </a>
      </header>
    </div>
    <div class="col-md-7">
      <div class="card-body">

        <p>
          {{post_content}}
        </p>

        <div class="card-signature">
          <p>
            <br />
            By:
            {{user.username}}
            on
            {{format_date post_date}}
            <br /><br />
            <b><a href="/post/{{id}}">Comments: {{comments.length}} </a></b>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>