<section class="card post-details">

  <div class="card-header">
   
 
    <header>
       <a href="/post/{{id}}"><h3 class="post-title">{{title}}</h3></a>
     <p>By: {{user_id}} on {{post_date}}</p>

    </header>

    </div>

    <div class="card-body">
      <p>{{post_content}}</p>
    </div>
    
  
</section>